<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

</head>

<body>
    <div class="col-4" th:fragment="menu">
        <p class="titulo mt-4">SERVICIOS DISPONIBLES</p>
        <ul class="nav flex-column nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activeMenu == 'solicitarLocalidad'} ? 'active' : ''" href="user/form-localidad.html" th:href="@{/localidad/solicitar}">Solicitar localidad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activeMenu == 'localidades'} ? 'active' : ''" href="user/list-localidad.html" th:href="@{/localidad/}">Mis localidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${activeMenu == 'propietarios'} ? 'active' : ''" href="admin/propietario/list-sector.html" th:href="@{/admin/propietario/}">Propietarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${activeMenu == 'localidadesA'} ? 'active' : ''" href="admin/localidad/list-localidad.html" th:href="@{/admin/localidad/}">Localidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${activeMenu == 'sectores'} ? 'active' : ''" href="admin/sector/list-sector.html" th:href="@{/admin/sector/}">Sectores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${activeMenu == 'hermandades'} ? 'active' : ''" href="admin/hermandad/list-hermandad.html" th:href="@{/admin/hermandad/}">Hermandades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activeMenu == 'editarPerfil'} ? 'active' : ''" href="user/form-perfil.html" th:href="@{/user/editar/{id}(id=${propietario.id})}">Editar perfil</a>
            </li>
            
        </ul>
    </div>
    <header class="navbar navbar-expand-sm navbar-light bg-light" th:fragment="header">
        
    </header>
</body>