<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Portada</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div th:replace="~{fragmentos/menu::menu(activeMenu='hermandades')}"></div>
            <div class="tab-content col-8">
                <form method="post" action="#" th:action="@{/admin/hermandad/nuevo/submit}" th:object="${hermandad}">
					<h1 class="titulos-admin mt-4"><span th:text="${hermandad.id} ? 'Editar' : 'Nueva'"></span> hermandad </h1>

					<input type="hidden" th:field="*{id}" id="id" />
					<div class="form-group">
						<label for="nombre">Nombre de la Hermandad</label><input type="text"
							class="form-control" id="nombre" placeholder="Nombre de la Hermandad"
							required="required" th:field="*{nombre}">
					</div>
					<div class="mb-3">
                        <label for="dia">Día de salida:</label>
                        <select class="form-select" id="dia" th:field="*{dia}">
                            <option th:each="dia : ${dias}" th:value="${dia}" th:text="${dia.displayValue}"></option>
                        </select>
                    </div>
					<button type="submit" class="btn btn-primary">Guardar cambios</button>
				</form>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragmentos/pie::pie}"></footer>
</body>