<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Sector</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div th:replace="~{fragmentos/menu::menu(activeMenu='sectores')}"></div>
            <div class="tab-content col-8">
                
                <form method="post" action="#" th:action="@{/admin/sector/nuevo/submit}" th:object="${sector}">
					<h1 class="titulos-admin mt-4"><span th:text="${sector.id} ? 'Editar' : 'Nuevo'"></span> sector </h1>

					<input type="hidden" th:field="*{id}" id="id" />
					<div class="form-group">
						<label for="localizacion">Localización:</label>
                        <input type="text" class="form-control" id="localizacion" placeholder="Localización" required="required" th:field="*{localizacion}">
					</div>
                    <div class="mb-3">
                        <label for="tipoLocalidad">Tipo de localidad:</label>
                        <select class="form-select" id="tipoLocalidad" name="tipo">
                            <option value="SILLA">Silla</option>
                            <option value="PALCO">Palco</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="numFilas">Numero de filas:</label>
                            <input type="number" class="form-control" name="numFilas" id="numFilas" placeholder="1.0" />
                        </div>
                        <div class="col">
                            <label for="numLocalidades">Numero de localidades por fila:</label>
                            <input type="number" class="form-control" name="numLocalidades" id="numLocalidades" placeholder="1.0" />
                        </div>
                    </div>
					<div class="form-group mb-3">
						<label for="precio">Precio:</label>
                        <input type="number" class="form-control" id="precio" placeholder="1.0" th:field="*{precio}" />
					</div>
					<button type="submit" class="btn btn-primary">Guardar cambios</button>
				</form>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragmentos/pie::pie}"></footer>
</body>
</html>