<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Portada</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div th:replace="~{fragmentos/menu::menu(activeMenu='sectores')}"></div>
            <div class="tab-content col-8">
                <div class="pull-right">
					<a href="form-sector.html" th:href="@{/admin/sector/nuevo}" class="btn btn-primary">Nuevo
						sector</a>

				</div>
                <div class="container tab-pane active">
                    <table class="table">
                        <thead>
						<tr>
							<th>ID</th>
							<th>Localizacion</th>
							<th>Precio</th>
                            <th></th>
                            <th></th>
						</tr>
					</thead>
                    <tbody>
                        <tr th:each="sector : ${sectores}">
							<td th:text="${sector.id}"></td>
							<td th:text="${sector.localizacion}"></td>
                            <td th:text="${#numbers.formatCurrency(sector.precio)}"></td>
                            <td><a href="#" th:href="@{/admin/sector/localidades/{id}(id=${sector.id})}" class="btn btn-primary">Ver localidades</a></td>
							<td class="operaciones"><a href="#"
								th:href="@{/admin/sector/editar/{id}(id=${sector.id})}"
								class="btn btn-primary">Editar</a>
								<a class="btn btn-danger" th:href="@{/admin/sector/borrar/{id}(id=${sector.id})}">Borrar</a></td>
						</tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </main>
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Borrar sector</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está usted seguro de borrar este sector?</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <a href="/admin/sector/borrar/" class="btn btn-danger">Sí</a>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
    <footer th:replace="~{fragmentos/pie::pie}"></footer>
</body>
</html>