<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Propietario</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div th:replace="~{fragmentos/menu::menu(activeMenu='propietarios')}"></div>
            <div class="tab-content col-8">
                
                <form id="formulario" method="post" action="#" th:action="@{/admin/propietario/nuevo/submit}" th:object="${propietario}">
					<h1 class="titulos-admin mt-4"><span th:text="${propietario.dni} ? 'Editar' : 'Nuevo'"></span> propietario</h1>
                    <input type="hidden" th:field="*{id}" id="id" />
					<div class="formulario-grupo form-group" id="grupo-dni_usuario">
						<label class="formulario-label" for="dni">DNI</label>
						<div class="form-group-input">
							<input type="text" class="formulario-input form-control" name="dni" id="dni" placeholder="DNI"required="required" th:field="*{dni}">
							<svg class="form-validacion-estado" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
						</div>
						<p class="form-input-error">El DNI debe de estar compuestos por 8 numeros y una letra</p>
					</div>
                    <div class="formulario-grupo form-group" id="grupo-usuario">
						<label class="formulario-label" for="username">Usuario</label>
						<div class="form-group-input">
							<input type="text" class="formulario-input form-control" name="username" id="username" placeholder="Usuario" required="required" th:field="*{username}">
							<svg class="form-validacion-estado" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
						</div>
						<p class="form-input-error">El nombre de usuario no puede contener carateres del tipo @, #, *, etc.</p>
					</div>
                    <div class="formulario-grupo form-group" id="contrasena_usuario">
						<label class="formulario-label" for="password">Contraseña</label>
						<div class="form-group-input">
							<input type="password" class="formulario-input form-control" name="password" id="password" placeholder="Contraseña" required="required" th:field="*{password}">
							<svg class="form-validacion-estado" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
						</div>
						<p class="form-input-error">La contraseña debe de tener un minimo de 6 caracteres</p>
					</div>
					<div class="formulario-grupo form-group" id="nombre">
						<label class="formulario-label" for="nombre">Nombre</label>
						<div class="form-group-input">
							<input type="text" class="formulario-input form-control" name="nombre" id="nombre" placeholder="Nombre" required="required" th:field="*{nombre}">
							<svg class="form-validacion-estado" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
						</div>
						<p class="form-input-error">El nombre no puede contener numeros ni caracteres especiales</p>
					</div>
                    <div class="formulario-grupo form-group mb-2" id="apellidos">
						<label class="formulario-label" for="apellidos">Apellidos</label>
						<div class="form-group-input">
							<input type="text" class="formulario-input form-control" name="apellidos" id="apellidos" placeholder="Apellidos" required="required" th:field="*{apellidos}">
							<svg class="form-validacion-estado" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
						</div>
						<p class="form-input-error">Los apellidos no pueden contener numeros ni caracteres especiales</p>
					</div>
					<div class="form-check mb-2">
                        <label class="formulario-label form-check-label" for="consejero">
                            <input class="formulario-checkbox-input form-check-input" type="checkbox" id="consejero" th:field="*{consejero}"> ¿Es consejero?
                        </label>
                    </div>
					<div class="formulario-grupo form-group mb-3">
                        <label class="formulario-label" for="hermandad">Hermandad</label>
                        <select class="form-select" id="hermandad" th:field="*{hermandad.id}">
                            <option th:each="hermandad : ${hermandades}" th:value="${hermandad.id}" th:text="${hermandad.nombre}"></option>
                        </select>
                    </div>
					<div class="form-mensaje mb-3" id="form-mensaje">
						<p><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg><strong> Error: </strong>Por favor rellene correctamente el formulario</p>
					</div>
					<button type="submit" class="btn btn-primary">Guardar cambios</button>
				</form>
            </div>
			<script th:href="@{/js/validar-propietario.js}" src="/js/validar-propietario.js" defer></script>
        </main>
    </div>
    <footer th:replace="~{fragmentos/pie::pie}"></footer>
</body>
</html>