<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Portada</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div class="col-4">
                <p class="titulo mt-4">SERVICIOS DISPONIBLES</p>
                <ul class="nav flex-column nav-pills nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="user/form-localidad.html" th:href="@{/localidad/solicitar}">Solicitar localidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user/list-localidad.html" th:href="@{/localidad/misLocalidades}">Mis localidades</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link active" href="admin/propietario/list-sector.html" th:href="@{/admin/propietario/}">Propietarios</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#localidades">Localidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="admin/sector/list-sector.html" th:href="@{/admin/sector/}">Sectores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#">Editar perfil</a>
                    </li>
                    
                </ul>
            </div>
            <div class="tab-content col-8">
                
                <form method="post" action="#" th:action="@{/admin/propietario/nuevo/submit}" th:object="${propietario}">
					<h1><span th:text="${propietario.dni} ? 'Editar' : 'Nuevo'"></span> sector </h1>
					<div class="form-group">
						<label for="localizacion">DNI</label><input type="text"
							class="form-control" id="dni" placeholder="DNI"
							required="required" th:field="*{dni}">
					</div>
					<div class="form-group">
						<label for="localizacion">Nombre</label><input type="text"
							class="form-control" id="nombre" placeholder="Nombre"
							required="required" th:field="*{nombre}">
					</div>
                    <div class="form-group">
						<label for="localizacion">Apellidos</label><input type="text"
							class="form-control" id="apellidos" placeholder="Apellidos"
							required="required" th:field="*{apellidos}">
					</div>
					
					<button type="submit" class="btn btn-primary">Enviar</button>
				</form>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragmentos/pie::pie}"></footer>
</body>
</html>