<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Portada</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div class="col-4">
                <p class="titulo mt-4">SERVICIOS DISPONIBLES</p>
                <ul class="nav flex-column nav-pills nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="user/form-localidad.html" th:href="@{/localidad/solicitar}">Solicitar localidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user/list-localidad.html" th:href="@{/localidad/misLocalidades}">Mis localidades</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link active" href="admin/propietario/list-sector.html" th:href="@{/admin/propietario/}">Propietarios</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="admin/localidad/list-localidad.html" th:href="@{/admin/localidad/}">Localidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="admin/sector/list-sector.html" th:href="@{/admin/sector/}">Sectores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#">Editar perfil</a>
                    </li>
                    
                </ul>
            </div>
            <div class="tab-content col-8">
                <div class="pull-right">
					<a href="form-propietario.html" th:href="@{/admin/propietario/nuevo}" class="btn btn-primary">Nuevo
						propietario</a>

				</div>
                <div class="container tab-pane active">
                    <table class="table">
                        <thead>
						<tr>
                            <th>ID</th>
							<th>DNI</th>
							<th>Nombre</th>
							<th>Apellidos</th>
                            <!--<th>Nº de localidades</th>-->
						</tr>
					</thead>
                    <tbody>
                        <tr th:each="propietario : ${propietarios}">
                            <td th:text="${propietario.id}"></td>
							<td th:text="${propietario.dni}"></td>
							<td th:text="${propietario.nombre}"></td>
                            <td th:text="${propietario.apellidos}"></td>
							<td class="operaciones"><a href="#"
								th:href="@{/admin/propietario/editar/{id}(id=${propietario.id})}"
								class="btn btn-primary">Editar</a>
								<a class="btn btn-danger" th:href="@{/admin/propietario/borrar/{id}(id=${propietario.id})}">Borrar</a></td>
						</tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </main>
        <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Borrar sector</h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está usted seguro de borrar este sector?</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <a href="/admin/propietario/borrar/" class="btn btn-danger">Sí</a>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
    <footer th:replace="~{fragmentos/pie::pie}"></footer>
</body>
</html>