<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Solicitar localidad</title>
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div th:replace="~{fragmentos/menu::menu(activeMenu='solicitarLocalidad')}"></div>
            <div class="tab-content col-8">
                <form action="#" th:action="@{/localidad/localidades/asignar}" method="post">
                    <h1 class="titulos-admin mt-4">Seleccione una localidad</h1>
                    <select name="localidadId" class="form-select mt-3">
                        <option th:each="localidad : ${localidadesDisponibles}" th:value="${localidad.id}" th:text="${localidad.fila} + ', ' + ${localidad.numLocalidad}"></option>
                    </select>
                    <button type="submit" class="btn btn-primary mt-3">Solicitar localidad</button>
                </form>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragmentos/pie::pie}"></footer>
</body>
</html>