<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Portada</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div th:replace="~{fragmentos/menu::menu(activeMenu='localidades')}"></div>
            <div class="tab-content col-8">
                <div class="container tab-pane active">
                    <table class="table">
                        <thead>
						<tr>
                            <th>ID</th>
                            <th>Sector</th>
                            <th>Tipo de localidad</th>
                            <th>Fila</th>
                            <th>Número de localidad</th>
                            <th>Precio</th>
                            <th>Operaciones</th>
						</tr>
					</thead>
                    <tbody>
                        <tr th:each="localidad : ${propietario.localidades}">
                            <td class="d-none" th:text="localidad.propietario.id"></td>
                            <td th:text="${localidad.id}"></td>
                            <td th:text="${localidad.sector.localizacion}"></td>
							<td th:text="${localidad.tipoLocalidad}"></td>
                            <td th:text="${localidad.fila}"></td>
                            <td th:text="${localidad.numLocalidad}"></td>
                            <td th:text="${#numbers.formatCurrency(localidad.sector.precio)}"></td>
                            <td>
                                <a href="#" th:href="@{/localidad/liberar/{id}(id=${localidad.id})}" class="btn btn-danger">
                                    Liberar
                                </a>
                            </td>
						</tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </main>
</body>
</html>