<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Portada</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div class="col-4">
                <p class="titulo mt-4">SERVICIOS DISPONIBLES</p>
                <ul class="nav flex-column nav-pills nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="user/form-localidad.html" th:href="@{/localidad/solicitar}">Solicitar localidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="form-localidad.html" th:href="@{/localidad/misLocalidades}">Mis localidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#">Editar perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-none" data-bs-toggle="pill" href="#localidades">Localidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-none"  href="admin/sector/sector.html" th:href="@{/admin/sector/}">Sectores</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content col-8">
                <div class="container tab-pane active">
                    <table class="table">
                        <thead>
						<tr>
							<th>Nombre</th>
                            <th>Apellidos</th>
							<th>Sector</th>
                            <th>Tipo de localidad</th>
                            <th>Fila</th>
                            <th>Número de localidad</th>
							<th>Precio</th>
						</tr>
					</thead>
                    <tbody>
                        <tr th:each="localidad : ${localidades}">
							<td th:text="${propietario.nombre}"></td>
							<td th:text="${propietario.apellidos}"></td>
                            <td th:text="${sector.localizacion}"></td>
                            <td th:text="${sector.localizacion}"></td>
                            <td th:text="${localidad.fila}"></td>
                            <td th:text="${localidad.numLocalidad}"></td>
                            <td th:text="${#numbers.formatCurrency(sector.precio)}"></td>
							<td class="operaciones"><a href="#"
								th:href="@{/sector/editar/{id}(id=${sector.id})}"
								class="btn btn-primary">Editar</a>
								<button type="button" class="btn btn-danger" data-toggle="modal"
									data-target="#delete-modal" th:data-id="${sector.id}">Borrar</button></td>
						</tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </main>
</body>
</html>