<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Portada</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand align-items-sm-center" href="javascript:void(0)">
                <img
                src="../static/img/logo_consejo.png" 
                th:attr="src=@{/img/logo_consejo.png},title=#{logo},alt=#{logo}"
                height="62"
                alt="MDB Logo"
                loading="lazy"
                style="margin-top: -1px;"
                />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    
                </ul>
                <div class="d-flex align-items-center">
                    <p class="usuario text-end pe-3 mt-3">
						<span th:text="${nombre} + ' ' + ${apellidos}">Nombre Apellido1 Apellido2</span><br>00000000A
                    </p>
                    <a href="javascript:document.getElementById('logoutForm').submit()" type="button align-items-sm-center" class="btn btn-secondary btn-lg me-3 ">
                        Salir
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <main class="row container align-content-between">
            <div class="col-4">
                <p class="titulo mt-4">SERVICIOS DISPONIBLES</p>
                <ul class="nav flex-column nav-pills nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#home">Solicitar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#menu1">Menu 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#menu2">Menu 2</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content col-8">
                <div id="home" class="container tab-pane fade"><br>
                    <h3>SOLICITUDES</h3>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#localidad">Solicitar localidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#entrada">Solicitar entrada</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane container fade" id="localidad">
                            <form action="/action_page.php">
                                <div class="mb-2 mt-3">
                                    <label for="nombre" class="form-label">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
                                </div>
                                <div class="mb-3">
                                    <label for="apellidos" class="form-label">Apellidos:</label>
                                    <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" name="apellidos">
                                </div>
                                <div class="mb-3">
                                    <label for="dni" class="form-label">DNI:</label>
                                    <input type="text" class="form-control" id="dni" placeholder="Introduzca su DNI" name="dni">
                                </div>
                                <div class="mb-3">
                                    <label for="tipo" class="form-label">Tipo de localidad:</label>
                                    <select id="tipo" class="form-select">
                                        <option value="s">Silla</option>
                                        <option value="p">Palco</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="sector" class="form-label">Sector:</label>
                                    <select id="sector" class="form-select">
                                        <option value="1">Campana</option>
                                        <option value="2">Sierpes</option>
                                        <option value="3">Plaza San Francisco</option>
                                        <option value="4">Avenida</option>
                                        <option value="5">Catedral</option>
                                        <option value="6">Plaza Virgen de los Reyes</option>
                                    </select>
                                </div>
                                <script>
                                    let tipo = document.getElementById("tipo");
                                    let sector = document.getElementById("sector");

                                    tipo.addEventListener("change", function(){
                                        if (tipo.value === "p"){
                                            sector.value = "3";
                                            sector.disabled = true;
                                        }else{
                                            sector.value = "1";
                                            sector.disabled = false;
                                        }
                                    });

                                    sector.addEventListener("change", function(){
                                        if(sector.value === "3"){
                                            tipo.value = "p";
                                            tipo.disabled = true;
                                        }else{
                                            tipo.value = "s";
                                            tipo.disabled = false;
                                        }
                                    });
                                </script>
                            </form> 
                        </div>
                        <div class="tab-pane container fade" id="entrada">...</div>
                    </div>



                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Solicitar localidad
                    </button>
                    
                    
                </div>
                <div id="menu1" class="container tab-pane fade"><br>
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="menu2" class="container tab-pane fade"><br>
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragmentos/pie::pie}"></footer>
</body>
</html>