<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Portada</title>
    
</head>
<body>
	<form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div class="col-4">
                <p class="titulo mt-4">SERVICIOS DISPONIBLES</p>
                <ul class="nav flex-column nav-pills nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="user/form-localidad.html" th:href="@{/localidad/solicitar}">Solicitar localidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user/list-localidad.html" th:href="@{/localidad/}">Mis localidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#">Editar perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-none" data-bs-toggle="pill" href="#localidades">Localidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-none"  href="admin/sector/list-sector.html" th:href="@{/admin/sector/}">Sectores</a>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragmentos/pie::pie}"></footer>
</body>
</html>