<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Localidad</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div th:replace="~{fragmentos/menu::menu(activeMenu='sectores')}"></div>
            <div class="tab-content col-8">
                <div id="home" class="container tab-pane active"><br>
                    
                    <form th:action="@{/admin/localidad/nueva/submit}" th:object="${localidad}" action="#" method="post">
                        <h1 class="titulos-admin"><span th:text="${localidad.propietario} ? 'Cambiar' : 'Asignar'"></span> propietario</h1>
                        <input type="hidden" th:field="*{id}" id="id" />
                        <input type="hidden" th:field="*{tipoLocalidad}" />
                        <input type="hidden" th:field="*{fila}" />
                        <input type="hidden" th:field="*{numLocalidad}" />
                        <div class="form-group">
                            <label for="propietario">Propietario:</label>
                            <select class="form-select" th:field="*{propietario.id}">
                                <option th:each="propietario : ${propietarios}" th:value="${propietario.id}" th:text="${propietario.apellidos} + ', ' + ${propietario.nombre}"></option>
                            </select>
                        </div>
                        <input type="hidden" th:field="*{sector.id}" />
                        <br>
                        <button type="submit" class="btn btn-primary">
                            Guardar cambios
                        </button>
                    </form> 
                </div>   
            </div>
                    
            
        </main>
    </div>
    <footer th:replace="~{fragmentos/pie::pie}"></footer>
</body>
</html>