<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Portada</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div class="col-4">
                <p class="titulo mt-4">SERVICIOS DISPONIBLES</p>
                <ul class="nav flex-column nav-pills nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="user/form-localidad.html" th:href="@{/localidad/solicitar}">Solicitar localidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="user/list-localidad.html" th:href="@{/localidad/misLocalidades}">Mis localidades</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="admin/propietario/list-sector.html" th:href="@{/admin/propietario/}">Propietarios</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link active" href="admin/localidad/list-localidad.html" th:href="@{/admin/localidad/}">Localidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="admin/sector/list-sector.html" th:href="@{/admin/sector/}">Sectores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="pill" href="#">Editar perfil</a>
                    </li>
                    
                </ul>
            </div>
            <div class="tab-content col-8">
                <div class="pull-right">
					<a href="form-localidad.html" th:href="@{/admin/localidad/nueva}" class="btn btn-primary">Nueva
						localidad</a>

				</div>
                <div class="container tab-pane active">
                    <table class="table">
                        <thead>
						<tr>
                            <th>ID</th>
                            <th class="d-none">ID propietario</th>
							<th>Nombre</th>
                            <th>Apellidos</th>
							<th>Sector</th>
                            <th>Tipo de localidad</th>
                            <th>Fila</th>
                            <th>Número de localidad</th>
							<th>Precio</th>
						</tr>
					</thead>
                    <tbody>
                        <tr th:each="localidad : ${localidades}">
                            <td th:text="${localidad.id}"></td>
							<td class="d-none" th:text="${localidad.propietario.id}"></td>
                            <td th:text="${localidad.propietario.nombre}"></td>
							<td th:text="${localidad.propietario.apellidos}"></td>
                            <td th:text="${localidad.sector.localizacion}"></td>
                            <!--<td th:text="${localidad.sector.tipoLocalidad}"></td>-->
                            <td th:text="${localidad.fila}"></td>
                            <td th:text="${localidad.numLocalidad}"></td>
                            <td th:text="${#numbers.formatCurrency(localidad.sector.precio)}"></td>
							<td class="operaciones"><a href="#"
								th:href="@{/admin/localidad/editar/{id}(id=${localidad.id})}"
								class="btn btn-primary">Editar</a>
								<a class="btn btn-danger" th:href="@{/admin/localidad/borrar/{id}(id=${localidad.id})}">Borrar</a></td>
						</tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </main>
</body>
</html>