<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragmentos/head :: head" >
    <meta charset="UTF-8">
    <title>Portada</title>
    
</head>
<body>
    <form th:action="@{/logout}" method="POST" id="logoutForm"></form>
    <header th:replace="~{fragmentos/header::header}"></header>
    <div class="container">
        <main class="row container align-content-between">
            <div th:replace="~{fragmentos/menu::menu(activeMenu='sectores')}"></div>
            <div class="tab-content col-8">
                <div class="container tab-pane active">
                    <h1 class="titulos-admin mt-1">Sector: <span th:text="${sector.localizacion}"></span></h1>
                    <table class="table mt-1">
                        <thead>
						<tr>
                            <th>ID</th>
                            <th class="d-none">ID propietario</th>
							<th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Tipo</th>
                            <th>Fila</th>
                            <th>Num. localidad</th>
							<th>Precio</th>
                            <th>Operaciones</th>
						</tr>
					</thead>
                    <tbody>
                        <tr th:each="localidad : ${sector.localidades}">
                            <td th:text="${localidad.id}"></td>
							<td class="d-none" th:text="${localidad.propietario != null ? localidad.propietario.id : ' '}"></td>
                            <td th:text="${localidad.propietario != null ? localidad.propietario.nombre : 'Sin propietario'}"></td>
							<td th:text="${localidad.propietario != null ? localidad.propietario.apellidos : 'Sin propietario'}"></td>
                            <td th:text="${localidad.tipoLocalidad}"></td>
                            <td th:text="${localidad.fila}"></td>
                            <td th:text="${localidad.numLocalidad}"></td>
                            <td th:text="${#numbers.formatCurrency(localidad.sector.precio)}"></td>
                            <td><a href="#" th:href="@{/admin/localidad/editar/{id}(id=${localidad.id})}" class="btn btn-primary">
                                <span th:text="${localidad.propietario != null ? 'Cambiar ' : 'Asignar '}" ></span>propietario</a></td>
						</tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </main>
</body>
</html>